<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/ui-lightness/jquery-ui-1.8.21.custom.css" %}">
    <script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
    <script src="{% static "js/jquery-ui-1.8.21.custom.min.js" %}"></script>    
    <script src="{% static "js/d3.v2.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    
    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>
</html>