{% extends "base.html" %}
{% block head %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<style type="text/css">
    body {
      padding-top: 60px;
    }
</style>
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}">

<link rel="stylesheet" href="{% static "css/dataTables.bootstrap.css" %}">
<script src="{% static "js/dataTables.bootstrap.js" %}"></script>

{% block bootstrap-head %}{% endblock %}

{% endblock %}

{% block body %}
{% block bootstrap-body %}{% endblock %}

<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<!--<script src="bootstrap/js/bootstrap-transition.js"></script>
<script src="bootstrap/js/bootstrap-alert.js"></script>
<script src="bootstrap/js/bootstrap-modal.js"></script>
<script src="bootstrap/js/bootstrap-dropdown.js"></script>
<script src="bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="bootstrap/js/bootstrap-tab.js"></script>
<script src="bootstrap/js/bootstrap-tooltip.js"></script>
<script src="bootstrap/js/bootstrap-popover.js"></script>
<script src="bootstrap/js/bootstrap-button.js"></script>
<script src="bootstrap/js/bootstrap-collapse.js"></script>
<script src="bootstrap/js/bootstrap-carousel.js"></script>
<script src="bootstrap/js/bootstrap-typeahead.js"></script>-->
 
{% endblock %}