{% extends "bootstrap.html" %}
{% block bootstrap-head %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/dashboard.css" %}">
<style type="text/css">
    svg {
        font: 10px sans-serif;
    }
      
    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    
    .line {
      fill: none;
      stroke: #000;
      stroke-width: 1px;
    }
    
    .area {
      fill: none;
    }
</style>

<script src="{% static "js/dv.js" %}"></script>

<script src="{% static "js/hbwebui-db.js" %}"></script>
<script src="{% static "js/hbwebui-table.js" %}"></script>
<script src="{% static "js/hbwebui-ts-chart.js" %}"></script>

<title>Dashboard</title>
    
    
<script>
    function Module_SensorActivity(idents, url, container) {
        this.container = container;
        this.idents = idents;
        this.url = url;
        
        this.table = null;
        
        
        //$('<h4>').html('Sensor activity in the last...').appendTo(container);
        var t = $('<table>').addClass('table').appendTo(container);
        
        
        this.init = function() {
            var table = new Table();
            table.keyColumn = 'ident';
            table.updateableColumns = {
                1: 'n_count',
                2: 'ts_last',
                3: 'ts_first',
            }
            table.dataTable = t.dataTable( {
                'bPaginate': false,
                'bLengthChange': false,
                'bFilter': false,
                'bSort': true,
                'bInfo': false,
                'bAutoWidth': false,
                'sDom': '',
                
                'aaData': this.idents.map(function(d) { o = {}; o.ident = d; return o; }),
                'aoColumnDefs': [
                    { 'sTitle': 'Ident', 'mDataProp': table.keyColumn, 'sType': 'string', 'aTargets': [0] },
                    { 'sTitle': 'Attacks', 'mDataProp': table.updateableColumns[1], 'sType': 'numeric', 'aTargets': [1] },
                    { 'sTitle': 'Last', 'mDataProp': table.updateableColumns[2], 'sType': 'date', 'aTargets': [2] },
                    { 'sTitle': 'First', 'mDataProp': table.updateableColumns[3], 'sType': 'date', 'aTargets': [3] },
                    { 'sDefaultContent': '-', 'aTargets': [1, 2, 3] },
                ],
                'aaSorting': [
                    [1, 'desc'], [0, 'asc'],
                ]
            });
            table.url = url;
            
            table.update();
            this.table = table;
        };
        
        this.update = function() {
            this.table.update();
        };
    }
</script>

<script>
    function Module_Chart_SensorActivity_Ident(container, hoursBack, ident) {
        this.container = container;
        this.hoursBack = hoursBack;
        this.ident = ident;
        
        this.table;
        
        this.setTable = function(t) {
            this.table = t;
        }
        
        this.setIdent = function(i) {
            this.ident = i;
        }
        
        
        this.draw = function() {
            var maxTime = this.table.get('ts_min', this.table.rows() - 1);
            var minTime = maxTime - hoursBack*60*60*1000;
            
            var timeFilter = function(t, r) { var ts_min = t.get(0, r); return ts_min > minTime; };
            var identFilter = function(t, r){ return t.get(1, r) == ident; };
            var filter = function(t, r) { return timeFilter(t, r); };
            
            if (this.ident) {
                var ident = this.ident;
                filter = function(t, r) { return timeFilter(t, r) && identFilter(t, r); };
            }
                
            var data = this.table.sparse_query(
                { dims:['ts_min'], vals:[dv.sum('n_count')],
                    where: function(t, r) { return filter(t, r); }
                }
            );
                        
            var X = data[0],
                Y = data[1],
                datum = X,
                Xval = function(d) { return d },
                Yval = function(d, i) { return Y[i] };
            
            if (X == 0) {
                X.push(0);
                Y.push(0);
            }
            
            d3.select(this.container)
                .datum(datum)
                .call(timeSeriesChart()
                    .x(Xval)
                    .y(Yval)
                );
        }
    }
</script>
    
<script>
    var urls = {
        'sensoractivity_24': '{% url sensoractivity_24 %}',
        'sensoractivity_168': '{% url sensoractivity_168 %}',
        'ts_sensoractivity_x_168' : '{% url ts_sensoractivity_x_168 %}',
    };
    
    var idents = {{ idents|safe }};
    var db;
    
    $(
        function() {
            mod_sensoractiviy_24 = new Module_SensorActivity(idents, urls.sensoractivity_24, $('#mod-sensoractivity-24'));
            mod_sensoractiviy_24.init();
            mod_sensoractiviy_168 = new Module_SensorActivity(idents, urls.sensoractivity_168, $('#mod-sensoractivity-168'))
            mod_sensoractiviy_168.init();
            
            mod_sensoractiviy_ident_24 = new Module_Chart_SensorActivity_Ident('#mod-sensoractivity-chart-24-chart', 24);
            mod_sensoractiviy_ident_168 = new Module_Chart_SensorActivity_Ident('#mod-sensoractivity-chart-168-chart', 168);
            
            $.ajax(urls.ts_sensoractivity_x_168).done(
                function(data) {
                    db = new DB();
                    db.createTable('ts_main_min', data, [
                        {'name': 'ts_min', 'type': 'ordinal', 'dType': 'timestamp_ms'},
                        {'name': 'ident', 'type': 'nominal', 'dType': 'string'},
                        {'name': 'md5', 'type': 'nominal', 'dType': 'string'},
                        {'name': 'source_ip', 'type': 'nominal', 'dType': 'string'},
                        {'name': 'n_count', 'type': 'numeric'},
                    ]);
                    
                    mod_sensoractiviy_ident_24.setTable(db.tables.ts_main_min);
                    mod_sensoractiviy_ident_168.setTable(db.tables.ts_main_min);
                },
                function() {
                    mod_sensoractiviy_ident_24.draw();
                    mod_sensoractiviy_ident_168.draw();
                }
            );
            
            
            $('.ui-draggable').draggable();
        }
    );
</script>
{% endblock %}

{% block bootstrap-body %}
{% include "navbar.html" %}

<div class="container-fluid">
    <div class="row-fluid">
        
        <div class="well ui-draggable" style="width: 67% ;">
            <div style="display: table ; table-layout: fixed ; width: 100% ;">
                <h3 class="pull-left" style="display: table-cell ;">Sensor activity (all sensors)</h3>
                <ul class="nav nav-pills pull-right" style="display: table-cell ;" id="tab-sensoractivity-chart">
                    <li><a href="#mod-sensoractivity-chart-24" data-toggle="tab">last 24 hours</a></li>
                    <li><a href="#mod-sensoractivity-chart-168" data-toggle="tab">last 7 days</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane" id="mod-sensoractivity-chart-24">
                    <div id="mod-sensoractivity-chart-24-chart"></div>
                </div>
                <div class="tab-pane" id="mod-sensoractivity-chart-168">
                    <div id="mod-sensoractivity-chart-168-chart"></div>
                </div>
            </div>
            <script>
                $(function () {
                    $('#tab-sensoractivity-chart a:first').tab('show');
                });
           </script>
        </div>
        
    </div>
    
    <div class="row-fluid">
        
        <div class="well ui-draggable" style="width: 67% ;">
            <div style="display: table ; table-layout: fixed ; width: 100% ;">
                <h3 class="pull-left" style="display: table-cell ;">Sensor activity</h3>
                <ul class="nav nav-pills pull-right" style="display: table-cell ;" id="tab-sensoractivity">
                    <li><a href="#mod-sensoractivity-24" data-toggle="tab">last 24 hours</a></li>
                    <li><a href="#mod-sensoractivity-168" data-toggle="tab">last 7 days</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane" id="mod-sensoractivity-24">
                </div>
                <div class="tab-pane" id="mod-sensoractivity-168">
                </div>
            </div>
            <script>
                $(function () {
                    $('#tab-sensoractivity a:first').tab('show');
                });
            </script>
        </div>
        
    </div>
</div>

{% endblock %}