{% extends "bootstrap.html" %}
{% block bootstrap-head %}
<title>Error</title>
{% endblock %}
    
{% block bootstrap-body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div style="margin-left: 20% ; margin-right: 20% ;">
            <div class="alert alert-error">
            No sensors associated with this user. Proceed to <a href="{% url logout %}">logout</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}