{% extends "bootstrap.html" %}
{% block bootstrap-head %}
<title>Login</title>
{% endblock %}

{% block bootstrap-body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div style="margin-left: 20% ; margin-right: 20% ;">
            {% if form.errors %}
            <div class="alert alert-error">
            Your username or password didn't match. Please try again.
            </div>
            {% endif %}
            <h2>Login</h2>
            <form class="well" method="post" action="{% url login %}">
                {% csrf_token %}
                
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.password.label_tag }}
                {{ form.password }}
                <br/>
                
                <button class="btn" type="submit" >Login</button>
                <input type="hidden" name="next" value="{{ next|default:".." }}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}