{% extends "bootstrap.html" %}
{% block bootstrap-head %}

{% load staticfiles %}

<script src="{% static "js/lodash.min.js" %}"></script>
<script src="{% static "js/hbwebui/utils.js" %}"></script>
<script src="{% static "js/hbwebui/mod_base.js" %}"></script>
<script src="{% static "js/hbwebui/mod_stats_base.js" %}"></script>
<script src="{% static "js/hbwebui/mod_stats_source_ips.js" %}"></script>


<title>Source IPs Stats</title>


<script>
    urls = {
        'mod_summary': '{% url r_stats_source_ips_summary %}',
        'mod_table': '{% url r_stats_source_ips %}',
    };    
    
    $(
        function() {
            mod_summary = new mod_stats_source_ips.summary($('#mod-summary'), urls.mod_summary);
            mod_summary.render();
            
            mod_table = new mod_stats_source_ips.table($('#mod-table'), urls.mod_table);
            mod_table.render();
        }
    );
</script>

{% endblock %}

{% block bootstrap-body %}
{% include "navbar.html" %}

<div class="container-fluid">
    <div class="row-fluid">
        <div id="mod-summary"></div>
        <hr/>
    </div>
    <div class="row-fluid">
        <div id="mod-table"></div>
    </div>
</div>

{% endblock %}