{% extends "bootstrap.html" %}
{% block bootstrap-head %}

{% load staticfiles %}

<script src="{% static "js/lodash.min.js" %}"></script>
<script src="{% static "js/hbwebui/utils.js" %}"></script>
<script src="{% static "js/hbwebui/mod_base.js" %}"></script>
<script src="{% static "js/hbwebui/mod_stats_base.js" %}"></script>
<script src="{% static "js/hbwebui/mod_stats_source_ip.js" %}"></script>


<title>Stats for Source IP: {{ source_ip }}</title>


<script>
    source_ip = '{{ source_ip }}';
    urls = {
        'summary': '',
        'table_idents': '{% url r_stats_idents %}',
        'table_binaries': '{% url r_stats_binaries %}',
        'table_target_ports': '{% url r_stats_target_ports %}',
        'table_countries': '{% url r_stats_countries %}',
        'table_asns': '{% url r_stats_asns %}'
    }    
    
    $(
        function() {
            filterExp = mod_stats_base.buildFilterExp({'source_ip': [source_ip]});
                        
            mod_table_idents = new mod_stats_source_ip.table_idents($('#mod-table-idents'), urls.table_idents + filterExp);
            mod_table_idents.render();
            
            mod_table_binaries = new mod_stats_source_ip.table_binaries($('#mod-table-binaries'), urls.table_binaries + filterExp);
            mod_table_binaries.render();            
            
            mod_table_target_ports = new mod_stats_source_ip.table_target_ports($('#mod-table-target_ports'), urls.table_target_ports + filterExp);
            mod_table_target_ports.render();
            
            mod_table_countries = new mod_stats_source_ip.table_countries($('#mod-table-countries'), urls.table_countries + filterExp);
            mod_table_countries.render();
            
            mod_table_asns = new mod_stats_source_ip.table_asns($('#mod-table-asns'), urls.table_asns + filterExp);
            mod_table_asns.render();            
        }
    );
</script>

{% endblock %}

{% block bootstrap-body %}
{% include "navbar.html" %}

<div class="container-fluid">
    <h3>Stats for source IP: {{ source_ip }}</h3>
    <hr/>
    <div class="row-fluid">
        <h3>By Ident</h3>
        <div id="mod-table-idents"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Binary</h3>
        <div id="mod-table-binaries"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Target Port</h3>
        <div id="mod-table-target_ports"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Country</h3>
        <div id="mod-table-countries"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By ASN</h3>
        <div id="mod-table-asns"></div>
    </div>
</div>

{% endblock %}