{% extends "bootstrap.html" %}
{% block bootstrap-head %}

{% load staticfiles %}

<script src="{% static "js/lodash.min.js" %}"></script>
<script src="{% static "js/hbwebui/utils.js" %}"></script>
<script src="{% static "js/hbwebui/mod_base.js" %}"></script>
<script src="{% static "js/hbwebui/mod_stats_base.js" %}"></script>
<script src="{% static "js/hbwebui/mod_stats_ident.js" %}"></script>


<title>Stats for ident: {{ ident }}</title>


<script>
    ident = '{{ ident }}';
    urls = {
        'summary': '',
        'table_binaries': '{% url r_stats_binaries %}',
        'table_target_ports': '{% url r_stats_target_ports %}',
        'table_countries': '{% url r_stats_countries %}',
        'table_asns': '{% url r_stats_asns %}',
        'table_source_ips': '{% url r_stats_source_ips %}',
    }    
    
    $(
        function() {
            filterExp = mod_stats_base.buildFilterExp({'ident': [ident]});
            
            mod_table_binaries = new mod_stats_ident.table_binaries($('#mod-table-binaries'), urls.table_binaries + filterExp);
            mod_table_binaries.render();
            
            mod_table_target_ports = new mod_stats_ident.table_target_ports($('#mod-table-target_ports'), urls.table_target_ports + filterExp);
            mod_table_target_ports.render();
            
            mod_table_countries = new mod_stats_ident.table_countries($('#mod-table-countries'), urls.table_countries + filterExp);
            mod_table_countries.render();
            
            mod_table_asns = new mod_stats_ident.table_asns($('#mod-table-asns'), urls.table_asns + filterExp);
            mod_table_asns.render();
            
            mod_table_source_ips = new mod_stats_ident.table_source_ips($('#mod-table-source_ips'), urls.table_source_ips + filterExp);
            mod_table_source_ips.render();            
        }
    );
</script>

{% endblock %}

{% block bootstrap-body %}
{% include "navbar.html" %}

<div class="container-fluid">
    <h3>Stats for ident: {{ ident }}</h3>
    <hr/>
    <div class="row-fluid">
        <h3>By Binary</h3>
        <div id="mod-table-binaries"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Target Port</h3>
        <div id="mod-table-target_ports"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Country</h3>
        <div id="mod-table-countries"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By ASN</h3>
        <div id="mod-table-asns"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Source IP</h3>
        <div id="mod-table-source_ips"></div>
    </div>
</div>

{% endblock %}