{% extends "bootstrap.html" %}
{% block bootstrap-head %}

{% load staticfiles %}

<script src="{% static "js/lodash.min.js" %}"></script>
<script src="{% static "js/hbwebui/utils.js" %}"></script>
<script src="{% static "js/hbwebui/mod_base.js" %}"></script>
<script src="{% static "js/hbwebui/mod_stats_base.js" %}"></script>
<script src="{% static "js/hbwebui/mod_stats_asn.js" %}"></script>


<title>Stats for ASN: {{ asn }}</title>


<script>
    asn = '{{ asn }}';
    urls = {
        'summary': '',
        'table_idents': '{% url r_stats_idents %}',
        'table_binaries': '{% url r_stats_binaries %}',
        'table_target_ports': '{% url r_stats_target_ports %}',
        'table_countries': '{% url r_stats_countries %}',
        'table_source_ips': '{% url r_stats_source_ips %}',

    }    
    
    $(
        function() {
            filterExp = mod_stats_base.buildFilterExp({'asn': [asn]});
                        
            mod_table_idents = new mod_stats_asn.table_idents($('#mod-table-idents'), urls.table_idents + filterExp);
            mod_table_idents.render();
            
            mod_table_binaries = new mod_stats_asn.table_binaries($('#mod-table-binaries'), urls.table_binaries + filterExp);
            mod_table_binaries.render();
            
            mod_table_target_ports = new mod_stats_asn.table_target_ports($('#mod-table-target_ports'), urls.table_target_ports + filterExp);
            mod_table_target_ports.render();
            
            mod_table_countries = new mod_stats_asn.table_countries($('#mod-table-countries'), urls.table_countries + filterExp);
            mod_table_countries.render();
                        
            mod_table_source_ips = new mod_stats_asn.table_source_ips($('#mod-table-source_ips'), urls.table_source_ips + filterExp);
            mod_table_source_ips.render();            
        }
    );
</script>

{% endblock %}

{% block bootstrap-body %}
{% include "navbar.html" %}

<div class="container-fluid">
    <h3>Stats for ASN: {{ asn }}</h3>
    <hr/>
    <div class="row-fluid">
        <h3>By Ident</h3>
        <div id="mod-table-idents"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Binary</h3>
        <div id="mod-table-binaries"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Target Port</h3>
        <div id="mod-table-target_ports"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Country</h3>
        <div id="mod-table-countries"></div>
    </div>
    <hr/>
    <div class="row-fluid">
        <h3>By Source IP</h3>
        <div id="mod-table-source_ips"></div>
    </div>
</div>

{% endblock %}